.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-self: center;
  justify-self: center;
  gap: 1rem;

  .itemSelect {
    transition: all 0.3s ease;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  .active {
    background-color: #ecc94a;
  }
}
