/** @format */

// .editor {
//   @apply relative block;

//   border-radius: 30px;

//   > textarea {
//     @apply w-full rounded-lg py-2 px-4 resize-none outline-0 text-white;
//     border-radius: 30px;

//     background-color: #282532;
//     transition: all 0.4s ease;
//     box-shadow: 0 3px 12px rgba(0, 0, 0, 0.03);
//     min-height: 200px;

//     &::placeholder {
//       color: #5c5a69;
//     }

//     &:focus {
//       box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
//     }
//   }
// }

.error {
  @apply absolute -bottom-5 left-0 w-full text-primary;
  font-size: 0.8rem;
}

.editorCas {
  border-radius: 24px;
  background-color: #faf8f6;
  border: 2px solid #f6bd61;
  width: 100%;
  height: 300px;

  overflow: scroll;

  div {
    background-color: transparent;
    // border: none;
    // overflow: scroll;

    color: #1c1d1f;
  }
}
.dark {
  background-color: #1c1d1f;
}
