/** @format */

.select {
  position: relative;
  display: block;
  margin-bottom: 9px;
  width: 100%;

  .selectButton {
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    display: flex;
    color: gray;
    align-items: center;
    justify-content: space-around;
    background: #faf8f6;
    gap: 1rem;
    border: 2px solid #f6bd61;
    z-index: 0;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;
    width: 100%;

    &:hover {
    }
    &::placeholder {
      color: gray;
    }
  }
  .dark {
    background: #1c1d1f;
  }
}
.errorField {
  position: relative;
  display: block;
  margin-bottom: 9px;
  .selectButton {
    border: 2px solid #e06262;
  }
}

.error {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  color: rgb(180, 73, 73);
  font-size: 0.8rem;
}
