/** @format */

.menuSidebar {
  @apply my-8;

  > ul {
    @apply list-none;

    li {
      @apply mb-7 flex text-gray-500 relative px-4 py-4 rounded-2xl;
      display: flex;
      align-items: center;
      transition: all 0.04s ease-in;

      cursor: pointer;
      font-size: large;
      span {
        margin-right: 5px;
      }

      &:hover {
        background-color: #d5d5d5;
        color: #1c1d1f;
      }
      &:active {
        background-color: #ffffff;
        color: #1c1d1f;
      }

      p {
        display: flex;
        align-items: center;
      }
    }
    .active {
      background-color: #d5d5d5;
      color: #1c1d1f;
    }
  }
}

.menuSidebarClose {
  @apply my-8;

  > ul {
    @apply list-none;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    li {
      @apply mb-7 flex text-gray-500 relative px-4 py-4 rounded-2xl;
      display: flex;
      align-items: center;
      transition: all 0.04s ease-in;
      width: min-content;

      cursor: pointer;
      font-size: large;

      // span {
      //   margin-right: 5px;
      // }

      &:hover {
        background-color: #d5d5d5;
        color: #1c1d1f;
      }
      &:active {
        background-color: #ffffff;
        color: #1c1d1f;
      }
    }
    .active {
      background-color: #d5d5d5;
      color: #1c1d1f;
    }
  }
}
