$color1-white: #e27d60;
$color2-white: #85dcb0;
$color3-white: #e8a87c;
$color4-white: #c38d9e;
$color5-white: #41b3a3;
$color6-color: #fa3e3e;

$color1-dark: #e27d60;
$color2-dark: #85dcb0;
$color3-dark: #e8a87c;
$color4-dark: #c38d9e;
$color5-dark: #41b3a3;
$color6-dark: #fa3e3e;
