/** @format */

.search_top {
  @apply relative w-full px-2;

  .label {
    @apply block relative;

    .input {
      @apply py-2 px-10 w-full block outline-0 shadow-md;
      border-radius: 20px;
      background-color: #faf8f6;
      color: #5c5a69;
      transition: all 0.4s ease;
      border: 1px solid transparent;

      &::placeholder {
        color: #5c5a69;
      }

      &:focus,
      &:focus-visible {
        @apply shadow-2xl;
        border: 1px solid #f6bd61;

        outline: none;
      }
    }
    .dark {
    }

    .iconSearch {
      @apply absolute;
      top: 9px;
      left: 9px;
      color: #5c5a69;
    }
  }
}

.result {
  background-color: #1c1d1f;
  position: absolute;
  border-radius: 20px;
  z-index: 30;
  display: flex;
  overflow-x: scroll;
  gap: 1rem;
  padding: 10px;
  margin-top: 5px;
  width: 98%;
  border: 4px solid #f6bd61;

  .item {
    width: 200px;
    height: 100%;
  }
}
.dark {
  background-color: #faf8f6;
  border: 4px solid #f6bd61;
}
